*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333333;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 30px 0 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.header__nav {
  display: flex;
}
.header__nav li {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  vertical-align: top;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.nav__link::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link:hover::after {
  opacity: 1;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background: #e98c83 url("/img/intro.jpg") center/cover no-repeat;
}

.intro__title {
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
}
.intro__title h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.intro__title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: bold;
  line-height: 0.9;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.intro__title h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 50px auto 50px;
}

.btn {
  display: block;
  width: 150px;
  height: 40px;
  border: 3px solid #fff;
  margin: 0 auto;
  padding: 8px 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: inherit;
  cursor: pointer;
  transition: color 0.2s linear, border-color 0.2s linear, background-color 0.2s linear;
}
.btn:hover {
  color: #333;
  border-color: #f38181;
  background-color: #fff;
}

.slider {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}
.slider__inner .slider__item {
  position: relative;
  width: 24%;
  border-top: 3px solid #fff;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 15px 0;
  opacity: 0.7;
  transition: color 0.2s linear, border-color 0.2s linear;
}
.slider__inner .slider__item span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.slider__inner .slider__item:hover {
  opacity: 1;
}
.slider__inner .slider__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.slider__inner .slider__item:hover::before {
  opacity: 1;
}

.section {
  padding: 100px 0;
}

.section--device {
  background: url("/img/device/background.png") center/cover no-repeat;
  padding-bottom: 0;
}

.section__header {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  width: 950px;
}
.section__header .section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  margin-bottom: 20px;
}
.section__header .section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.section__header .section__subtitle::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 30px auto;
}
.section__header .section__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
}

.about {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
  width: 380px;
  background-color: #95e1d3;
}
.about__item .about__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s linear;
}
.about__item .about__img img {
  display: block;
  transition: opacity 0.2s linear;
}
.about__item:hover .about__content {
  transform: translate(-10px, -10px);
  opacity: 1;
}
.about__item:hover .about__img {
  transform: translate(-10px, -10px);
}
.about__item:hover .about__img img {
  opacity: 0.1;
}
.about__item .about__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s linear;
  transition: transform 0.2s linear;
}
.about__item .about__content .about__icon {
  align-self: center;
}
.about__item .about__content .about__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.facts {
  background-color: #95e1d3;
}

.facts__inner {
  display: flex;
}

.facts__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
  padding: 80px 0;
}
.facts__item .fact__count {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 10px;
}
.facts__item .fact__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.facts__item:last-child {
  border-right: 1px solid #b5eae0;
}

.services {
  display: flex;
  margin: 0 -25px;
}

.service__item {
  width: 33.333%;
  display: flex;
  padding: 0 25px;
}

.service__img {
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 20px;
}
.service__img img {
  width: 32px;
  height: 28px;
}

.service__content h4 {
  font-family: "Montserrat", sans-serif;
  font-style: 14px;
  text-transform: uppercase;
}
.service__content p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
}

hr {
  margin: 50px 0;
  height: 1px;
  background-color: #e5e5e5;
}

.device {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ipad img {
  transform: translate(-5%);
}

.iphone {
  position: absolute;
  bottom: -15%;
  right: -10%;
}