@import 'variables';
@import 'reset';
@import 'mixin';

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   color: #333333;
}
.container {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   padding: 0 10px
}
// header
.header {
   @include header;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.header__logo {
   @include logo;
}
.header__nav {
   display: flex;
   li {
      margin-left: 50px;
   }
}
.nav__link {
   @include navLink;
}
// intro
.intro {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100vh;
   padding-top: 50px;
   background: #e98c83 url('/img/intro.jpg') center/cover no-repeat;
}
.intro__tittle {
   max-width: 850px;
   margin: 0 auto;
   position: relative;
   padding: 50px 0;

   h2 {
      font-family: 'Kaushan Script', cursive;
      font-size: 72px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      margin-bottom: 30px
   }
   h1 {
      @include introTitle;
      &::after {
         content: '';
         // position: absolute;
         // bottom: 0;
         // left: 50%;
         display: block;
         width: 60px;
         height: 3px;
         background-color: #fff;
         margin: 50px auto 50px;
         }
   }
   
}
// Button
.btn {
   @include btn;
}
// slider
.slider {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 2;
   width: 100%;
}
.slider__inner {
   display: flex;
   justify-content: space-between;
   .slider__item {
      position: relative;
      width: 24%;
      border-top: 3px solid #fff;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      padding: 15px 0;
      opacity: .7;
      transition: color .2s linear, border-color .2s linear;
     
      span {
         font-family: 'Montserrat', sans-serif;
         font-size: 18px;
         font-weight: 400;
         color: #fff;
         text-transform: uppercase;
      }
      &:hover {
         opacity: 1;
      }
      &::before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        display: block;
        width: 70px;
        height: 3px;
        background-color: $lineColor;
        opacity: 0;
        transition: opacity .2s linear;
      }
      &:hover::before{
         opacity: 1;
      }
   }
}
// section
.section {
   padding: 100px 0;

}
.section__header {
   text-align: center;
   margin: 0 auto;
   width: 100%;
   width: 950px;
   .section__suptittle {
      @include sectionSupTittle;
      margin-bottom: 20px;
   }
   .section__subtittle {
      @include sectionSubTittle;
         &::after {
            @include line;
            margin: 30px auto;
         }
   }
   .section__text {
      @include sectionText;
   }
}
// about
.about {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
.about__item {
   position: relative;
   width: 380px;
   background-color: $cardColor;

   .about__img {
      background: linear-gradient(to bottom, #f38181, #fce38a);
      transition: transform .2s linear;
      img {
         display: block;
         transition: opacity .2s linear;
      }
   }
      &:hover .about__content {
         transform: translate(-10px, -10px);
         opacity: 1;
      }
       &:hover .about__img {
          transform: translate(-10px, -10px);
          img {
            opacity: .1;
          }
       }
   
       
  
   .about__content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity .3s linear;
      transition: transform .2s linear;
      
      .about__icon {
         align-self: center;
      }
      .about__text {
         font-family: $fontSubtittle;
         font-size: 18px;
         font-weight: 700;
         text-transform: uppercase;
         color: $fontColor;
      }
   }
}
// Facts
.facts {
   background-color: $cardColor;
}
.facts__inner {
   display: flex;
}
.facts__item {
   flex: 1 1 0;
   border-left: 1px solid #b5eae0;
   text-align: center;
   color: $fontColor;
   padding: 80px 0;
   .fact__count {
      font-family: $fontSubtittle;
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 10px;
   }
   .fact__text {
      font-family: $fontSubtittle;
      font-size: 14px;
      text-transform: uppercase;
   }
}
.facts__item:last-child {
   border-right: 1px solid #b5eae0;
}
.services {
   display: flex;
   margin: 0 -25px;
}
.service__item {
   width: 33.333%;
   display: flex;
   padding: 0 25px;
}
.service__img {
   padding-top: 5px;
   padding-left: 5px;
   margin-right: 20px;
   img {
      width: 32px;
      height: 28px;
   }
}
.service__content {
   h4 {
      font-family: $fontSubtittle;
      font-style: 14px;
      text-transform: uppercase;
   }
   p {
      @include sectionText;
   }
   
}
hr {
   margin: 50px 0;
   height: 1px;
   background-color: #e5e5e5;
}



