$fontSuptittle: 'Kaushan Script',
cursive;
$fontSubtittle: 'Montserrat',
sans-serif;
$fontSectionText: 'Roboto',
sans-serif;
$sectionTextColor: #999999;
$fontColor: #fff;
$lineColor: #f38181;
$cardColor: #95e1d3;